{% extends 'blog/layout.html' %}
{% block content %}
<article class="media content-section">
       
  <div class="media-body">
    <div class="article-metadata">
      {% if post.isPaid %}
      <small class="text-muted">Status: Paid</small>
      {% else %}
      <small class="text-muted">Status: Pending</small>
      {% endif %}
    </div>
    <h2><a class="article-title">{{ posts.Type }}</a></h2>
    
    <p class="article-content">Kshs. {{ posts.Cost }} paid to <b>{{ posts.VendorID }}</b> for {{ posts.Type}} in {{posts.UnitID }}
    </p>
   
  </div>
</article>

{% endblock content %}
