{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seaplace Hotel</title>

	<link rel="icon" href="{% static 'img/favicon.png'%}" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
  
</head>
<body>
	<!-- ================ header section start ================= -->	
	<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
              <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Sabrin Agencies</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
                    <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                    <!-- <a class="nav-item nav-link" href="{% url 'projects' %}">Projects</a> -->
                    <a class="nav-item nav-link" href="{% url 'properties' %}">Properties</a>
                    <a class="nav-item nav-link" href="{% url 'expenses' %}">Expenses</a>
                    <a class="nav-item nav-link" href="{% url 'vendors' %}">Vendors</a>
                    <a class="nav-item nav-link" href="{% url 'tenants' %}">Tenants</a>

                    <!-- {% if not user.is_authenticated %}
                     <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact</a>
                    {% endif %} -->
                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">
                    {% if user.is_authenticated %}
                      <!-- <a class="nav-item nav-link" href="{% url 'project-create' %}">New Project</a> -->
                    <a class="nav-item nav-link" href="{% url 'property-create' %}">New Property</a>
                    <a class="nav-item nav-link" href="{% url 'tenant-create' %}">New Tenant</a>
                    <a class="nav-item nav-link" href="{% url 'vendor-create' %}">New Vendor</a>

                      <!-- <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a> -->
                      <!-- <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a> -->
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                  </div>
              </div>
          </div>
      </nav>
  </header>
  <!-- ================ header section end ================= -->	
  <!-- ================ start banner area ================= --> 
  <section class="home-banner-area" id="home" style="margin-top:-25px;">
      <div class="container h-100">
        <div class="home-banner">
          <div class="text-center">
            <h1>Sabrin Agencies Housing Coorperation</h1>
            <h4>See What a Difference a stay makes</h4>
            <a class="button home-banner-btn" href="#">Explore Us</a>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->
  
  <!-- ================ start footer Area ================= -->
 



<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendors/magnefic-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendors/easing.min.js' %}"></script>
<script src="{% static 'vendors/superfish.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'vendors/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>