{% extends 'blog/layout.html' %}
{% block content %}
<div class="container" style="position: relative; text-align:center;">
  <table style="width: 100%;">
    <tr>
      <td width="30%">
          
              <div class="card card-explore">
                <div class="card-explore__img">
                  <img class="card-img" src="{{ property.Picture1.url }}" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-explore__price">$150.00 <sub>/ Per Night</sub></h3>
                  <h4 class="card-explore__title"><a href="#">Classic Bed Room</a></h4>
                  <p>Cool mansion located in {{property.City }}, {{ property.County}} County. Address line:  {{property.Address }}</p>
                </div>
              </div>
         
      </td>
      <td width="70%">
    <table class="table table-borderless table-light">
        <thead>
          <tr class="thead-dark">
            <th scope="col" colspan="2">#Summary</th>
            <th scope="col">#Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <th scope="row">Total Units</th>
            <td>5</td>
            <td><a href="{% url 'units' %}"><button class='btn btn-outline-info'>See Details</button></a></td>
          </tr>
          <tr class="table-active">
            <th scope="row">Status: </th>
            <td>Has Vacant, Closed and Ocupied Units</td>
            <td><a href="{% url 'tenant-create' %}"><button class='btn btn-outline-info'>Add Tenant</button></a></td>
          </tr>
          <tr class="table-danger">
            <th scope="row">Total Expenses</th>
            <td>Kshs: 0.00</td>
            <td><a href="{% url 'expense-create' %}"><button class='btn btn-outline-info'>Add Expense</button></a></td>
          </tr>
          <tr class="table-success">
            <th scope="row">Expected Payments</th>
            <td colspan="2">Kshs. 34, 000</td>
          </tr>
          <tr class="table-info">
              <th scope="row">Payments made</th>
              <td>Kshs. 34, 000</td>
              <td><a href="{% url 'payment-create' %}"><button class='btn btn-outline-info'>Add Payments</button></a></td>
          </tr>
          <tr class="table-warning">
              <th scope="row">Payments Faults</th>
              <td>Kshs. 0.00</td>
              <td><a href=""><button class='btn btn-outline-info'>See Details</button></a></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
  </div>

{% endblock content %}

